@import "tailwindcss";

@layer components {
    .btn-primary {
        @apply px-5 py-3 bg-black text-white rounded-lg font-semibold hover:bg-gray-800 transition inline-block;
    }

    .btn-secondary {
        @apply px-5 py-3 bg-gray-100 text-black rounded-lg font-semibold hover:bg-gray-200 transition inline-block;
    }
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    background: #ffffff;
    color: #171717;
    font-family: Arial, Helvetica, sans-serif;
}

